[*.cs]

# SA1135: Using directives should be qualified
dotnet_diagnostic.SA1135.severity = silent

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = silent

# SA1503: Braces should not be omitted
dotnet_diagnostic.SA1503.severity = silent

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = silent

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = silent

# SA1000: Keywords should be spaced correctly
dotnet_diagnostic.SA1000.severity = silent

# SA1130: Use lambda syntax
dotnet_diagnostic.SA1130.severity = silent

# SA1117: Parameters should be on same line or separate lines
dotnet_diagnostic.SA1117.severity = silent

# SA1629: Documentation text should end with a period
dotnet_diagnostic.SA1629.severity = silent

# SA1116: Split parameters should start on line after declaration
dotnet_diagnostic.SA1116.severity = silent
